---
dashboard:
  view: yes
  entities:
  - group.downstairs
  - group.upstairs
  - group.weather

downstairs:
  entities:
  - sensor.living_room_thermostat_temperature
  - sensor.living_room_thermostat_target
  - sensor.living_room_thermostat_humidity
  - light.dining_room
  - light.living_room
  - light.kitchen
  - light.entryway

upstairs:
  entities:
  - sensor.upstairs_thermostat_temperature
  - sensor.upstairs_thermostat_target
  - sensor.upstairs_thermostat_humidity
  - light.master_bedroom
  - light.guest_bedroom
  - light.upstairs_landing
  - light.upper_stairway

weather:
  name: Weather Forecast
  entities:
    - sensor.dark_sky_summary
    - sensor.dark_sky_temperature
    - sensor.dark_sky_humidity
    - sensor.dark_sky_precip_probability
    - sensor.dark_sky_apparent_temperature