---
dashboard:
  view: yes
  entities:
  - group.downstairs
  - group.upstairs
  - group.weather

############################
########### MISC ###########
############################

weather:
  name: Weather Forecast
  entities:
    - sensor.dark_sky_summary
    - sensor.dark_sky_temperature
    - sensor.dark_sky_humidity
    - sensor.dark_sky_precip_probability
    - sensor.dark_sky_apparent_temperature

media_players:
  view: yes
  entities:
  - media_player.living_room_tv
  - media_player.sonos_kitchen
  - media_player.sonos_master_bedroom

############################
########## ZONES ###########
############################

downstairs:
  name: Downstairs
  entities:
  - group.dining_room
  - group.entryway
  - group.kitchen
  - group.living_room

upstairs:
  name: Upstairs
  entities:
  - group.guest_bedroom
  - group.master_bedroom
  - group.stairs
  - group.upstairs_landing

############################
########## ROOMS ###########
############################

entryway:
  name: Entryway
  entities:
  - group.entryway_lights

kitchen:
  name: Kitchen
  entities:
  - group.kitchen_lights
  - media_player.sonos_kitchen

living_room:
  view: yes
  name: Living Room
  entities:
  - media_player.living_room_tv
  - group.living_room_lights
  - sensor.living_room_thermostat_temperature
  - sensor.living_room_thermostat_target
  - sensor.living_room_thermostat_humidity

dining_room:
  name: Dining Room
  entities:
  - group.dining_room_lights

basement:
  # nothing yet

stairs:
  name: Stairs
  entities:
  - group.upper_stairway_lights

upstairs_landing:
  name: Upstairs Landing
  entities:
  - group.upstairs_landing_lights
  - sensor.upstairs_thermostat_temperature
  - sensor.upstairs_thermostat_target
  - sensor.upstairs_thermostat_humidity

master_bedroom:
  name: Master Bedroom
  entities:
  - group.master_bedroom_lights
  - media_player.sonos_master_bedroom

guest_bedroom:
  name: Guest Bedroom
  entities:
  - group.guest_bedroom_lights

############################
########## LIGHTS ##########
############################

all_lights:
  name: All Lights
  entities:
  - group.upstairs_lights
  - group.downstairs_lights

upstairs_lights:
  name: Upstairs Lights
  entities:
  - group.upper_stairway_lights
  - group.upstairs_landing_lights
  - group.guest_bedroom_lights
  - group.master_bedroom_lights

downstairs_lights:
  name: Downstairs Lights
  entities:
  - group.entryway_lights
  - group.dining_room_lights
  - group.kitchen_lights
  - group.living_room_lights

entryway_lights:
  name: Entryway Lights
  entities:
  - light.lower_stairs_top_1
  - light.lower_stairs_top_2

dining_room_lights:
  name: Dining Room Lights
  entities:
  - light.dining_room_fixture_1
  - light.dining_room_fixture_2
  - light.dining_room_lamp_1
  - light.dining_room_lamp_2
  - light.dining_room_lamp_3

kitchen_lights:
  name: Kitchen Lights
  entities:
  - group.kitchen_overhead_lights
  - group.kitchen_island_lights

kitchen_overhead_lights:
  name: Kitchen Overhead Lights
  entities:
  - light.kitchen_1
  - light.kitchen_2
  - light.kitchen_3
  - light.kitchen_4

kitchen_island_lights:
  name: Kitchen Island Lights
  entities:
  - light.kitchen_island_1
  - light.kitchen_island_2

living_room_lights:
  name: Living Room Lights
  entities:
  - light.living_room_1
  - light.living_room_2
  - light.living_room_floor_lamp

upper_stairway_lights:
  name: Upper Stairway Lights
  entities:
  - light.upper_stairway

upstairs_landing_lights:
  name: Upstairs Landing Lights
  entities:
  - light.upstairs_landing_1
  - light.upstairs_landing_2
  - light.upstairs_landing_3
  - light.upstairs_landing_4

guest_bedroom_lights:
  name: Guest Bedroom Lights
  entities:
  - light.guest_bedroom_1
  - light.guest_bedroom_2
  - light.guest_bedroom_3

master_bedroom_lights:
  name: Master Bedroom Lights
  entities:
  - light.master_bedroom_1
  - light.master_bedroom_2