homeassistant: !include homeassistant.yaml

config:
cloud: !include cloud.yaml

logger:
  default: info
  logs:
    homeassistant.components.cloud: debug

discovery:
frontend:
history:
logbook:
updater:
zeroconf:

zone: !include zone.yaml
group: !include groups.yaml
scene: !include scenes.yaml
scene directory: !include_dir_list scenes
script: !include_dir_named scripts
automation: !include_dir_merge_list automations

http: !include http.yaml
#mqtt: !include mqtt.yaml

notify slack: !include slack.yaml

#device_tracker: !include device_trackers.yaml
#input_select: !include input_selects.yaml
light hue: !include hue.yaml
#ecobee: !include ecobee.yaml
nest: !include nest.yaml
#emulated_hue: !include emulated_hue.yaml
#sleepiq: !include sleepiq.yaml
media_player: !include media_players.yaml
sensor darksky: !include darksky.yaml 
#sensor onlinedness: !include sensor-onlinedness.yaml
#sensor speedtest: !include speedtest.yaml
#sensor bedtime: !include bedtime-sensor.yaml
#shell_command: !include_dir_merge_named shell_commands
sun:
#switch harmony hub: !include harmony-switches.yaml
switch house modes: !include template_switches.yaml
#switch broadlinky: !include broadlinky-switches.yaml

# input_boolean: !include christmas-cheer-input-boolean.yaml
# switch cheer: !include christmas-cheer-switch.yaml

zwave: !include zwave.yaml
